.stocks {
	padding: 24px;
	
}

.filtersRow {
	margin-bottom: 24px;
}

.authSection {
	text-align: right;
}

.filterSelect {
	width: 150px;
}

.changePositive {
	color: #3f8600;
}

.changeNegative {
	color: #cf1322;
}

.changeIcon {
	margin-left: 4px;
}

.tabIconGainers {
	color: #3f8600;
}

.tabIconLosers {
	color: #cf1322;
}

.searchInputContainer {
	margin-bottom: 16px;
}

.modalFormItemActions {
	margin-bottom: 0;
	text-align: right;
}

.modalInputFullWidth {
	width: 100%;
}